<h1>Eat It!</h1>


<h2>Available Burgers...mmmm</h2>
{{!-- UNLESS --}}

<div class="container">
    {{#each burgers}}
    {{#unless this.devoured}}

    <div class="container">
        {{!-- put from the sql --}}
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
        <div class="burgerWrapper">
        <div class="topBun"></div>
        {{#if this.ketchup}}
        <div>{{this.ketchup}}</div>
        {{/if}}
        <div class="bBun"></div>
        </div>
        <button type="submit" class="eatButton"> {{this.burger_name}} </button>
        </form>
    </div>

    {{/unless}}
    {{/each}}
</div>



<h2>Eaten Burgers</h2>
{{!-- IF --}}
<div class="container">

    {{#each burgers}}
    {{#if this.devoured}}
    <div class="eaten">
        <div>
            {{this.burger_name}}
        </div>
    </div>

    {{/if}}
    {{/each}}
</div>

<h2>Add A Burger</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">

      <input type="text" id="name" name="burger_name" placeholder="Dream Burger">
      <input type="checkbox" name="ketchup" value="1">Ketchup?
        <div class="burgerWrapper">
      <input type="button" class="topBun">
      <input type="button" class="bBun">
        </div>
      <button type="submit" class="addBurgerButton">Add The Burger</button>

    </form>

    </div>
  </div>