.topBun{
background-color: orange; 
height: 30px; 
width: 100px; 
border-radius: 95px 95px 15px 15px
}

.bBun {
   background-color: orange; 
   height: 30px; 
   width: 100px; 
   border-radius: 15px 15px 95px 95px
}

/* condiments */
.ketchup {
    background-color: darkred; 
    height: 10px; 
    width: 3px; 
    border-radius: 70%
}

.cheese {
    
}
.patty {
    background-color: brown;
    height: 20px;
    width: 120px;
    border-radius: 10%;
    z-index: -1 /* covered by yummy toppings yo */
}
.burgerWrapper {
    display: flexbox;
    width: 140px;
    border: 3px solid grey;
}

.bacon {
    width: 120px;
}
